@keyframes float {
    from { top: 20%; opacity: 0.8; }
    to { top: 0; opacity: 1; }
}

.floating-div {
    width: fit-content;
    position: relative;
    animation-name: float;
    animation-duration: 2s;
    margin: 5% auto;
    alignment: center;
    max-width: 50%;
}

.playlist-div {
    margin: auto;
    align-content: center;
    display: grid;
}

.h2-top-center-margin {
    margin: 5%;
}

#playlist-btn {
    margin: 10% auto;
    alignment: center;
}

.list-item {
    font-size: 18px;
}

header {
    background: white;
}