@keyframes float {
    from { top: 10%; opacity: 0.8; }
    to { top: 0; opacity: 1; }
}

.floating-div {
    width: fit-content;
    position: relative;
    animation-name: float;
    animation-duration: 1s;
    margin: 5% auto;
    alignment: center;
    max-width: 50%;
}

.playlist-div {
    margin: auto;
    align-content: center;
    display: grid;
}

.h2-top-center-margin {
    margin: 5%;
}

#playlist-btn {
    margin: 10% auto;
    alignment: center;
}

.list-item {
    font-size: 18px;
}

header {
    background: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 3%;
    padding: 0.5rem;
    background-color: #f3f3f3;
    color: darkgray;
    text-align: center;
}

/* unvisited link */
.footer-link:link {
    color: darkgray;
}

/* visited link */
.footer-link:visited {
    color: darkgray;
}

/* mouse over link */
.footer-link:hover {
    color: #2c3034;
}

/* selected link */
.footer-link:active {
    color: #343a40;
}

.footer-div {
    display: inline-block;
    margin: 0.5rem 2rem;
}

/* helps aligning the footer
   to the bottom of the page */
.wrapper-div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.drinks-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    width: 40%;
    /*table-layout: fixed;*/
}

.drinks-th, .drinks-td {
    padding: 8px;
    text-align: center;
    width: 10%;
    font-size: 16pt;
    /* handle long text */
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.drinks-vote-btn {
    width: 60%;
    height: 60%;
    font-size: 14pt;
    /* set font bolder */
    font-weight: 500;
}

#drink-suggestion-control {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#drink-suggestion {
    max-width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.text-subtitle {
    margin-top: 3%;
    color: darkgrey;
    font-style: italic;
}